<div class="screen-container">
  <div class="screen-heading">
    <h2>Gallery</h2>

    <input
      class="search-bar"
      (keyup)="applyFilter($event)"
      placeholder="Search"
    />
  </div>

  <div class="product-container">
    <div *ngFor="let product of filteredProducts">
      <div class="product-card">
        <img
          class="productImage"
          src="assets/images/{{ product.image_url }}"
          alt="img"
        />
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency : "USD" }}</p>
        <button (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
