.screen-container {
  padding: 25px;
}

.product-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  max-width: 200px;
  border: 1px solid grey;
  margin: 20px;
}
.productImage {
  width: 100%;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-card button {
  width: 100%;
  height: 40px;
  cursor: pointer;
}
